<div id="conversa-corpo"><div id="conversa-container"></div></div>
<form id="conversa-rodape" method="post" action=".">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="input-group">
					<input type="text" id="txtMensagem" class="form-control" autocomplete="off" placeholder="Digite uma mensagem">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="submit" title="Enviar"><i class="fa fa-send-o fa-nomargin"></i><span class="sr-only">Enviar</span></button>
					</span>
				</div>
			</div>
		</div>
	</div>
</form>

<%- contentFor("styles") %>
<style type="text/css">
	#conversa-corpo {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 64px;
		overflow: auto;
		padding: 0 15px 15px;
	}

	#conversa-container {
		max-width: 1000px;
		margin: 0 auto;
	}

	.mensagem {
		text-align: left;
		display: inline-block;
		min-width: 150px;
		max-width: 450px;
		border-style: solid;
		margin: 15px 0 0;
	}

	.mensagem-container {
		border-radius: 0 0 8px 8px;
		padding: 0 10px 10px;
	}

		.mensagem-container > h1, .mensagem-container > p {
			font-size: 14px;
			margin: 0 0 5px;
		}

		.mensagem-container > h1 {
			font-weight: bold;
		}

		.mensagem-container > p {
			white-space: pre-wrap;
		}

		.mensagem-container > div {
			text-align: right;
			font-weight: bold;
			font-size: 10px;
		}

	.mensagem-outro {
		color: #333;
		border-radius: 0 8px 8px 8px;
		border-color: #fff transparent transparent;
		border-width: 10px 0 0 10px;
	}

		.mensagem-outro > .mensagem-container {
			background-color: #fff;
		}

	.mensagem-eu {
		color: #000;
		border-radius: 8px 0 8px 8px;
		margin-left: auto;
		border-color: #dcf8c6 transparent transparent;
		border-width: 10px 10px 0 0;
	}

		.mensagem-eu > .mensagem-container {
			background-color: #dcf8c6;
		}

	.mensagem-eu.erro {
		border-color: #f8c6c6 transparent transparent;
	}

		.mensagem-eu.erro > .mensagem-container {
			background-color: #f8c6c6;
		}

	.mensagem-eu.espera {
		border-color: #f5f5f5 transparent transparent;
	}

		.mensagem-eu.espera > .mensagem-container {
			background-color: #f5f5f5;
		}

	.mensagem-eu-img {
		display: none;
	}

	#conversa-rodape {
		position: fixed;
		left: 0;
		height: 64px;
		right: 0;
		bottom: 0;
		padding: 15px 0;
		background-color: rgba(255, 255, 255, 0.9);
	}
</style>

<%- contentFor("scripts") %>
<script type="text/javascript">
	"use strict";

	var conversaCorpo = document.getElementById("conversa-corpo"),
		$conversaContainer = $("#conversa-container"),
		conversaRodape = document.getElementById("conversa-rodape"),
		txtMensagem = document.getElementById("txtMensagem"),
		idconversa = "",
		idpessoa = 0,
		nomepessoa = "";

	function agora() {
		var d = new Date();
		return format2(d.getHours()) + ":" + format2(d.getMinutes());
	}

	function adicionarMensagem(mensagem, nome) {
		var $div = $(nome ?
			'<div class="mensagem mensagem-outro"><div class="mensagem-container"><h1>' + encode(nome) + '</h1><p>' + trim(mensagem) + '</p><div>' + agora() + '</div></div></div>' :
			'<div class="text-right"><div class="mensagem mensagem-eu espera"><div class="mensagem-container"><img src="<%- staticRoot %>/imagens/loading-grey-t.gif" /><p>' + encode(trim(mensagem)) + '</p><div>' + agora() + '</div></div></div></div>'
		);

		$conversaContainer.append($div);

		conversaCorpo.scrollTo(0, $conversaContainer.height());

		return $div;
	}

	document.getElementById("conversa-rodape").onsubmit = function (e) {
		cancelEvent(e);

		var msg = trim(txtMensagem.value), $msg = null;
		if (!$.active && msg && idconversa) {
			txtMensagem.value = "";
			$msg = adicionarMensagem(msg);
			$.ajax({
				url: "<%- root %>/api/pessoa/enviarMensagem?idconversa=" + encodeURIComponent(idconversa) + "&idpessoa=" + encodeURIComponent(idpessoa),
				method: "post",
				data: JSON.stringify({ mensagem: msg }),
				contentType: "application/json",
				processData: false,
				success: function (dados) {
					$msg.find("img").remove();
					$msg.find(".mensagem-eu").removeClass("espera");
					adicionarMensagem(dados, nomepessoa);
				},
				error: function () {
					$msg.find("img").remove();
					$msg.find(".mensagem-eu").removeClass("espera").addClass("erro");
					Notification.error("Algo deu errado! Por favor, tente novamente mais tarde " + emoji.sad, true);
				}
			});
		}

		return false;
	}

	Notification.wait();

	$.ajax({
		//<% if (nomepessoa) { %> {
		url: "<%- root %>/api/pessoa/iniciarConversa/<%- encodeURIComponent(nomepessoa.trim()) %>",
		//<% } else { %>
		url: "<%- root %>/api/pessoa/iniciarConversa",
		//<% } %>
		cache: false,
		success: function (dados) {
			idconversa = dados.idconversa;
			idpessoa = dados.idpessoa;
			nomepessoa = dados.nomepessoa;
			adicionarMensagem(dados.resposta, nomepessoa);
			Notification.hide();
		},
		error: function () {
			var msg = "Algo deu errado! Por favor, tente novamente mais tarde " + emoji.sad;
			Notification.error(msg, true);
		}
	});
</script>
