<div id="conversa-corpo"><div id="conversa-container"><div style="margin: 0 0 30px;"><img src="<%- staticRoot %>/imagens/logo.png" alt="Logo do Museu da Pessoa" height="75" /></div></div></div>
<form id="conversa-rodape" method="post" action=".">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="input-group">
					<input type="text" id="txtMensagem" class="form-control" autocomplete="off" placeholder="Digite uma mensagem">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="submit" title="Enviar"><i class="fa fa-send-o fa-nomargin"></i><span class="sr-only">Enviar</span></button>
					</span>
				</div>
			</div>
		</div>
	</div>
</form>

<%- contentFor("styles") %>
<link rel="stylesheet" href="<%- staticRoot %>/fonts/gilroy.css" />

<style type="text/css">
	body {
		font-family: Gilroy, sans-serif;
	}

	#conversa-corpo {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 64px;
		overflow: auto;
		padding: 0 15px 15px;
	}

	#conversa-container {
		max-width: 1000px;
		margin: 0 auto;
	}

	.avatar {
		width: 50px;
		vertical-align: top;
	}

	.linha-mensagem {
		margin: 15px 0 0;
	}

	.mensagem {
		position: relative;
		text-align: left;
		display: inline-block;
		vertical-align: top;
		min-width: 150px;
		max-width: 50%;
		margin: 15px 0 0;
	}

	.balao {
		position: absolute;
		background-image: url('<%- staticRoot %>/imagens/balao.png');
		background-size: 100% 100%;
		background-repeat: no-repeat;
		top: 12px;
		width: 32px;
		height: 16px;
		z-index: -1;
	}

	.mensagem-container {
		padding: 10px;
		color: #000;
		background-color: #fff;
	}

		.mensagem-container > h1, .mensagem-container > p {
			font-size: 14px;
			margin: 0 0 5px;
		}

		.mensagem-container > h1 {
			font-weight: 600;
			color: #f27292;
		}

		.mensagem-container > p {
			white-space: pre-wrap;
		}

		.mensagem-container > div {
			text-align: right;
			font-weight: 600;
			font-size: 10px;
		}

	.mensagem-outro {
		padding: 0 0 0 20px;
	}

		.mensagem-outro > .balao {
			left: 5px;
		}

	.mensagem-eu {
		margin-left: auto;
		padding: 0 20px 0 0;
	}

		.mensagem-eu > .balao {
			right: 5px;
		}

	.mensagem-eu.erro > .mensagem-container {
		background-color: #f8c6c6;
	}

	.mensagem-eu.erro > .balao {
		background-image: url('<%- staticRoot %>/imagens/balao-erro.png');
	}

	#conversa-rodape {
		position: fixed;
		left: 0;
		height: 64px;
		right: 0;
		bottom: 0;
		padding: 15px 0;
		background-color: rgba(255, 255, 255, 0.9);
	}
</style>

<%- contentFor("scripts") %>
<script type="text/javascript">
	"use strict";

	var conversaCorpo = document.getElementById("conversa-corpo"),
		$conversaContainer = $("#conversa-container"),
		conversaRodape = document.getElementById("conversa-rodape"),
		txtMensagem = document.getElementById("txtMensagem"),
		idconversa = "",
		idpessoa = 0,
		nomepessoa = "";

	function agora() {
		var d = new Date();
		return format2(d.getHours()) + ":" + format2(d.getMinutes());
	}

	function adicionarMensagem(mensagem, nome) {
		var $div = $(nome ?
			'<div class="linha-mensagem"><img src="<%- staticRoot %>/imagens/avatar-mani.png" alt="Avatar da Mani" width="75" height="75" /><div class="mensagem mensagem-outro"><div class="balao"></div><div class="mensagem-container"><h1>' + encode(nome) + ' - ' + agora() + '</h1><p>' + trim(mensagem) + '</p></div></div></div>' :
			'<div class="linha-mensagem text-right"><div class="mensagem mensagem-eu espera"><div class="balao"></div><div class="mensagem-container"><h1>Você - ' + agora() + '</h1><img src="<%- staticRoot %>/imagens/loading-white.gif" /><p>' + encode(trim(mensagem)) + '</p></div></div><img src="<%- staticRoot %>/imagens/avatar-voce.png" alt="Seu Avatar" width="75" height="75" /></div>'
		);

		$conversaContainer.append($div);

		conversaCorpo.scrollTo(0, $conversaContainer.height());

		return $div;
	}

	document.getElementById("conversa-rodape").onsubmit = function (e) {
		cancelEvent(e);

		var msg = trim(txtMensagem.value), $msg = null;
		if (!$.active && msg && idconversa) {
			txtMensagem.value = "";
			$msg = adicionarMensagem(msg);
			$.ajax({
				url: "<%- root %>/api/pessoa/enviarMensagem?idconversa=" + encodeURIComponent(idconversa) + "&idpessoa=" + encodeURIComponent(idpessoa),
				method: "post",
				data: JSON.stringify({ mensagem: msg }),
				contentType: "application/json",
				processData: false,
				success: function (dados) {
					$msg.find("img").remove();
					$msg.find(".mensagem-eu").removeClass("espera");
					adicionarMensagem(dados, nomepessoa);
				},
				error: function () {
					$msg.find("img").remove();
					$msg.find(".mensagem-eu").removeClass("espera").addClass("erro");
					Notification.error("Algo deu errado! Por favor, tente novamente mais tarde " + emoji.sad, true);
				}
			});
		}

		return false;
	}

	Notification.wait();

	$.ajax({
		//<% if (nomepessoa) { %> {
		url: "<%- root %>/api/pessoa/iniciarConversa/<%- encodeURIComponent(nomepessoa.trim()) %>",
		//<% } else { %>
		url: "<%- root %>/api/pessoa/iniciarConversa",
		//<% } %>
		cache: false,
		success: function (dados) {
			idconversa = dados.idconversa;
			idpessoa = dados.idpessoa;
			nomepessoa = dados.nomepessoa;
			adicionarMensagem(dados.resposta, nomepessoa);
			Notification.hide();
		},
		error: function () {
			var msg = "Algo deu errado! Por favor, tente novamente mais tarde " + emoji.sad;
			Notification.error(msg, true);
		}
	});
</script>
