
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Informações da Pessoa</div>
			<div class="panel-body">
				<input type="hidden" id="id" name="id" value="<%=(item ? item.id : 0) %>" />
				<div class="form-group">
					<label for="nome">Nome</label>
					<input id="nome" name="nome" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.nome : '') %>" />
				</div>
				<div class="form-group">
					<label for="feminino">Gênero <small>(apenas para fins gramaticais)</small></label>
					<select id="feminino" name="feminino" class="form-control" size="1">
						<option value="">SELECIONE...</option>
						<option value="1" <%-((item && item.feminino) ? 'selected="selected"' : '') %>>FEMININO</option>
						<option value="0" <%-((item && !item.feminino) ? 'selected="selected"' : '') %>>MASCULINO</option>
					</select>
				</div>
				<hr />
				<button type="button" class="btn btn-primary" onclick="adicionarResposta()"><i class="fa fa-plus"></i>Criar Resposta</button>
				<div id="respostas">
					<% if (item && item.respostas) { for (let i = 0; i < item.respostas.length; i++) { let resposta = item.respostas[i]; %>
					<div id="resposta<%= i %>">
						<hr />
						<div class="form-group">
							<button type="button" class="btn btn-danger" onclick="excluirResposta('<%= i %>')"><i class="fa fa-times"></i>Excluir</button>
						</div>
						<input type="hidden" id="id<%= i %>" value="<%= resposta.id %>" />
						<div class="form-group">
							<label for="idassunto<%= i %>">Assunto</label>
							<select id="idassunto<%= i %>" name="idassunto" class="form-control" size="1" disabled="disabled">
								<% for (let a = 0; a < assuntos.length; a++) { %>
								<option value="<%= assuntos[a].id %>" <%-((resposta.idassunto === assuntos[a].id) ? 'selected="selected"' : '') %>><%= assuntos[a].nome %></option>
								<% } %>
							</select>
						</div>
						<div class="form-group no-margin-bottom">
							<label for="texto<%= i %>">Texto da Resposta</label>
							<textarea id="texto<%= i %>" name="texto" rows="5" class="form-control" style="resize: vertical;" maxlength="10000"><%= resposta.texto %></textarea>
						</div>
					</div>
					<% } } %>
				</div>
			</div>
			<div class="panel-footer">
				<input value="<%=(item ? 'Salvar Alterações' : 'Criar Pessoa') %>" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>
		</form>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	var proximaResposta = 0;

	//<% if (item && item.respostas) { %>
	proximaResposta = parseInt("<%= item.respostas.length %>");
	//<% } %>

	function adicionarResposta() {
		if (JsonWebApi.active)
				return;

		var i = proximaResposta, html = '<div id="resposta' + i + '">';
		html += '<hr />';
		html += '<div class="form-group">';
		html += '<button type="button" class="btn btn-danger" onclick="excluirResposta(\'' + i + '\')"><i class="fa fa-times"></i>Excluir</button>';
		html += '</div>';
		html += '<input type="hidden" id="id' + i + '" value="0" />';
		html += '<div class="form-group">';
		html += '<label for="idassunto' + i + '">Assunto</label>';
		html += '<select id="idassunto' + i + '" name="idassunto" class="form-control" size="1">';
		html += '<option value="">SELECIONE...</option>';
		//<% for (let a = 0; a < assuntos.length; a++) { %>
		html += '<option value="<%= assuntos[a].id %>"><%= assuntos[a].nome %></option>';
		//<% } %>
		html += '</select>';
		html += '</div>';
		html += '<div class="form-group no-margin-bottom">';
		html += '<label for="texto' + i + '">Texto da Resposta</label>';
		html += '<textarea id="texto' + i + '" rows="5" name="texto" class="form-control" style="resize: vertical;"></textarea>';
		html += '</div></div>';
		$("#respostas").append(html);
		proximaResposta++;
	}

	function excluirResposta(indice) {
		if (JsonWebApi.active)
			return;
		$("#resposta" + indice).remove();
	}

	$("#form").validate({
		rules: {
			nome: {
				required: true,
				minlength: 3,
				maxlength: 100
			},
			feminino: {
				required: true,
				number: true
			},
			idassunto: {
				required: true,
				number: true
			},
			texto: {
				required: true,
				minlength: 3,
				maxlength: 10000
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			var pessoa = {
				id: parseInt($("#id").val()),
				nome: $("#nome").val().normalize().trim(),
				feminino: parseInt($("#feminino").val()),
				respostas: []
			};

			for (var i = 0; i < proximaResposta; i++) {
				if (!document.getElementById("resposta" + i))
					continue;
				pessoa.respostas.push({
					id: parseInt($("#id" + i).val()),
					idassunto: $("#idassunto" + i).val().normalize().trim(),
					texto: $("#texto" + i).val().normalize().trim()
				});
			}

			Notification.wait();

			//<% if (item) { %>

			JsonWebApi.post("/api/pessoa/alterar", pessoa, function (response) {
				if (response.success) {
					for (var i = 0, a = 0; i < proximaResposta; i++) {
						if (!document.getElementById("resposta" + i))
							continue;
						$("#id" + i).val(response.value.respostas[a++].id);
						$("#idassunto" + i).attr("disabled", "disabled");
					}
					Notification.success("Pessoa alterada com sucesso! " + emoji.happy);
				} else {
					Notification.error(response.value, true);
				}
			});

			//<% } else { %>

			JsonWebApi.post("/api/pessoa/criar", pessoa, function (response) {
				if (response.success) {
					$("#respostas").empty();
					resetForm("#form");
					proximaResposta = 0;
					Notification.success("Pessoa criada com sucesso! " + emoji.happy);
				} else {
					Notification.error(response.value, true);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
