
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Informações do Assunto</div>
			<div class="panel-body no-bottom">
				<div class="form-group">
					<label for="id">Id</label>
					<input id="id" name="id" class="form-control" type="number" min="1" max="9999" value="<%=(item ? item.id : '') %>" <%-(item ? 'readonly="readonly"' : '')%> />
				</div>
				<div class="form-group">
					<label for="nome">Nome</label>
					<input id="nome" name="nome" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.nome : '') %>" />
				</div>
				<div class="form-group">
					<label for="respostapadrao">Resposta Padrão</label>
					<textarea id="respostapadrao" name="respostapadrao" rows="5" class="form-control" style="resize: vertical;" maxlength="10000"><%=(item ? item.respostapadrao : '') %></textarea>
				</div>
			</div>
			<div class="panel-footer">
				<input value="<%=(item ? 'Salvar Alterações' : 'Criar Assunto') %>" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>
		</form>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: {
			id: {
				required: true,
				number: true,
				min: 1,
				max: 9999
			},

			nome: {
				required: true,
				minlength: 3,
				maxlength: 100
			},

			respostapadrao: {
				maxlength: 10000
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			//<% if (item) { %>

			JsonWebApi.postFormData("<%- root %>/api/assunto/alterar", form, function (response) {
				if (response.success)
					Notification.success("Assunto alterado com sucesso! " + emoji.happy);
				else
					Notification.error(response.value, true);
			});

			//<% } else { %>

			JsonWebApi.postFormData("<%- root %>/api/assunto/criar", form, function (response) {
				if (response.success) {
					resetForm("#form");
					Notification.success("Assunto criado com sucesso! " + emoji.happy);
				} else {
					Notification.error(response.value, true);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
